.menuBarClass {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
    height: 60px;
    padding: 0 16px;
  
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.5px;
  
    background-color: #222;
    color: white;
  }
  
  .menuBarClass img {
    position: absolute;
    left: 16px;
  }